<p id="notice"><%= notice %></p>

<h4>
  <%= @product.name %>
</h4>

<!-- <h3>
  <strong>Description:</strong>
  <%= @product.description %>
</h3> -->

<h4>
  <%= @product.formatted_price %>
</h4>


<%= link_to 'Back', products_path %>
